<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">

    {% if section.settings.logo != blank %}
    <a class="navbar-brand" href= {{ section.settings.logo_url }}>
    <img src="{{ section.settings.logo | img_url: 'master' }}" height="36" alt="">
    </a>
    {% else %}
    
    <a class="navbar-brand" href="#">Navbar</a>
    {% endif %}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
                      {% for link in linklists.main-menu.links %}
                  {% assign child_list_handle = link.title | handleize %} 
                  {% if linklists[child_list_handle].links != blank %}
                  <li class="nav-item"><a class="nav-link" href="{{ link.url }}">{{ link.title }}</a></li>
                    [{% for childlink in linklists[child_list_handle].links %}
                    <li class="nav-item"><a class="nav-link" href="{{ childlink.url }}">{{ childlink.title | escape }}</a></li>
                    {% endfor %}]
                  {% else %}
                  <li class="nav-item"><a class="nav-link" href="{{ link.url }}">{{ link.title }}</a></li>
                  {% endif %}
                {% endfor %} 
        <li class="nav-item">

          <a class="nav-link" href="/cart">Cart <span id="numberOfCartItems" class="badge bg-danger rounded-pill">0</span></a> 
        </li>
      </ul> 
      <ul class="navbar-nav"> 
        {% if shop.customer_accounts_enabled %} 
        {% if customer %}
        
          <li class="nav-item">
          <a class="nav-link" href="{{ routes.account_url }}">{{ 'general.Layout.account_text' | t }}</a>
           </li>
           <li class="nav-item">
            <a class="nav-link" href="{{ routes.account_logout_url }}">{{ 'general.Layout.logout_text' | t }}</a>
        {% else %}
       </li>
        <li class="nav-item">

          <a class="nav-link" href="{{ routes.account_login_url }}">{{ 'general.Layout.login_text' | t }}</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="{{ routes.account_register_url }}">{{ 'general.Layout.register_text' | t }}</a>
        </li>
        {% endif %}
        {% endif %}
    

        
      </ul>

      <form action="/search" method="GET"  role="search">
      <input type="text" name="q" value="{{ search.terms | escape }}" id="searchInputField">
      </form>
    </div>
  </div> 
</nav>


<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasLabel">Product Seatch Result</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body"> 
    Content fork the offcanvas goes here. You can place just about any Bootstrap component or custom elements here.
  </div>
</div>


{% schema %}
{
"name": "Header",
"settings": [
{
"type": "image_picker",
"id": "logo",
"label": "Logo Image"
},
{
  "type": "url",
  "id": "logo_url",
  "label": "Logo URL"
}
]
}
{% endschema %}
